@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,600;1,700&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Default font */
* {
    font-family: 'Josefin Sans', sans-serif;
}

html {
    font-size: 100%;
}

@media only screen and (min-width: 2000px) {
    html {
        font-size: 125%;
    }
}

@media only screen and (min-width: 3000px) {
    html {
        font-size: 165%;
    }
}

@media only screen and (min-width: 4000px) {
    html {
        font-size: 200%;
    }
}

.holder {
    @apply flex justify-center items-center h-screen;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.holder.holder-dashboard-outside {
    /* Temporary image */
    background-image: url("../images/dashboard_outside_desktop.jpg");
}

.form-group {
    @apply flex flex-col mt-10 lg:mt-12 2xl:mt-14;
}

.form-group label {
    @apply text-brown font-semibold text-lg lg:text-xl 2xl:text-2xl;
}

.remember-me input {
    width: 20px;
    height: 20px;
}

.form-has-errors .form-group label {
    @apply text-red;
}

.form-group input, .form-group textarea {
    @apply placeholder-brown-light text-brown-light bg-transparent border-0 border-b-4 border-brown focus:outline-none text-xs lg:text-lg resize-none;
}

.form-has-errors .form-group input, .form-has-errors .form-group textarea {
    @apply placeholder-red-light border-red;
}

#view-password, .view-password {
    transform: translateY(-50%);
}
